*{
    margin: auto;
    padding: 0%;
}
body{
    background-image: url(kotak.jpg);
    background-size: 100%;
}
.contain h1{
    font-size: xx-large;
    color: aqua;

}
.contain{
    width: 300px;
    height: 310px;
    background-color:black;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    color: white;
}
.inp1{
    border: none;
    background-color: azure;
    border-bottom: 2px saddlebrown;
    width: 250px;
    height: 25px;
    font-size: medium;
    outline: none;
    color:black;
}
.inp2{
    border: none;
    background-color: azure;
    border-bottom: 2px saddlebrown;
    width: 250px;
    height: 25px;
    font-size: medium;
    outline: none;
    color:black;
}
p{
    margin-top: 15px;
    font-size: 20px;
}
.text button{
    width: 200px;
    height: 45px;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
}
button:hover{
    border: 3px;
    color: rgb(97, 11, 196);
font-size: medium;
background-color: rgb(202, 205, 14);
}